
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/bgh.codility-1.0-SNAPSHOT.jar
target/classes/bgh/codility/binarygap/BinaryGap.class
target/classes/bgh/codility/cyclicrotation/CyclicRotation.class
target/classes/bgh/codility/oddoccurrencesinarray/OddAccurances.class
target/maven-archiver/pom.properties
target/surefire-reports/bgh.codility.cyclicrotation.test.TestCyclicRotation.txt
target/surefire-reports/bgh.codility.binarygap.test.TestBinaryGap.txt
target/surefire-reports/TEST-bgh.codility.binarygap.test.TestBinaryGap.xml
target/surefire-reports/TEST-bgh.codility.oddoccurrencesinarray.test.TestOddAccurances.xml
target/test-classes/bgh/codility/binarygap/test/TestBinaryGap.class
target/surefire-reports/TEST-bgh.codility.cyclicrotation.test.TestCyclicRotation.xml
target/test-classes/bgh/codility/oddoccurrencesinarray/test/TestOddAccurances.class
target/test-classes/bgh/codility/cyclicrotation/test/TestCyclicRotation.class
target/surefire-reports/bgh.codility.oddoccurrencesinarray.test.TestOddAccurances.txt
